meta(name='viewport', content='width=device-width,initial-scale=1')
meta(name='theme-color', content='#321911')
meta(name="description", content=".mizucoffee.net")
meta(name="author", content="mizucoffee")
meta(name="description", content=".mizucoffee.net")
meta(name="format-detection", content="telephone=no,address=no,email=no")
meta(name="keywords", content="mizucoffee")
meta(name="og:title", content=".mizucoffee.net")
meta(name="og:type", content="website")
meta(name="og:site_name", content="/mizucoffee.net")
meta(name="og:url", content="https://dot.mizucoffee.net/")
meta(name="og:description", content=".mizucoffee.net")
meta(name="og:image", content="https://dot.mizucoffee.net/image/og.png")
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="@kawakawaritsuki")
link(rel="shortcut icon", href="/image/favicon.ico")
