doctype html
html(lang='ja')
  -
    const info = {
      title: "dot.mizucoffee.net",
      description: "dot.mizucoffee.net"
    }
  head
    title=info.title
    script(src='./bundle.js')
    link(rel='stylesheet', href='./style.css', type='text/css')
    include head
  body
    header
      div.welcome Welcome to
      div.domain
        div#roulette
          div.item.item-show= data[0].subdomain
          - data.shift()
          each item in data
            div.item.item-before= item.subdomain
        span .mizucoffee.net
    main
      br
    footer &copy; 2018 mizucoffee.net
