$primary: #321911;
$primary_text: #FFFFFF;
$background_color: #efdcd5;
$modal_color: #fff7f4;


* {
  padding: 0;
  margin: 0;
  font-family: 'brother1816-medium';
  -webkit-tap-highlight-color: transparent;
}

body {
  position: relative;
  background-color: #efdcd5;
  background: linear-gradient(-45deg, rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)) fixed, url(/image/coffee.jpg) fixed;
  background-size: cover;
  background-position: center;
}

h1 {
  color: $primary;
}

.clearfix:after{
	content: "";
	clear: both;
	display: block;
}
