@font-face {
  font-family: "brother1816";
  src: url('./font/brother1816.eot');
  src: url('./font/brother1816.eot?#iefix') format('embedded-opentype'),
  url('./font/brother1816.woff') format('woff'),
  url('./font/brother1816.tff') format('truetype'),
  url('./font/brother1816.svg#svgFontName') format('svg');
}
