@font-face {
  font-family: "brother1816-medium";
  src: url('./font/brother1816-medium.eot');
  src: url('./font/brother1816-medium.eot?#iefix') format('embedded-opentype'),
  url('./font/brother1816-medium.woff') format('woff'),
  url('./font/brother1816-medium.tff') format('truetype'),
  url('./font/brother1816-medium.svg#svgFontName') format('svg');
}
