footer {
  font-family: 'brother1816-medium';
  line-height: 1em;
  padding: 4px 0;
  text-align: center;
  width: 100%;
  background-color: $primary;
  color: $primary_text;
  position: fixed;
  left: 0;
  bottom: 0;
}
