header {
  background-color: $primary;
  color: $primary_text;
  padding: 32px 0 24px 0;
  font-family: 'brother1816-medium';

  .welcome {
    font-size: 32px;
    text-align: center;
  }

  .domain {

    width: fit-content;
    margin: 0 auto;

    #roulette{
      position: relative;
      height: 4em;
      overflow: hidden;
      width: 0px;
      float: left;
      transition: width 300ms 0s ease;
    }

    .item {
      position: absolute;
      line-height: 1em;
      font-size: 3em;
      width: fit-content;
    }

    .item-before {
      top: -1.5em;
    }

    .item-show {
      top: 0;
      transition: top 300ms 0s ease;
    }

    .item-after {
      top: 1.5em;
      transition: top 300ms 0s ease;
    }

    span {
      font-size: 3em;
      line-height: 1em;
    }
  }
}
