$size: 36pt;

header {
  background-color: $primary;
  color: $primary_text;
  padding: 32px 0 24px 0;
  font-family: 'brother1816-medium';

  .welcome {
    font-size: 24pt;
    text-align: center;
  }

  .box {
    width: fit-content;
    margin: 0 auto;
    font-size: $size;
    height: $size;
    line-height: 1em;
  }

  #roulette {
    position: relative;
    overflow: hidden;
    width: 0px;
    height: 1.1em;
    float: left;
    transition: width 300ms 0s ease;
  }

  .item {
    position: absolute;
    width: fit-content;
  }

  .item-before {
    top: -1.5em;
  }

  .item-show {
    top: 0;
    transition: top 300ms 0s ease;
  }

  .item-after {
    top: 1.5em;
    transition: top 300ms 0s ease;
  }

  .domain {
    height: 1.1em;
    width: fit-content;
    float: left;
  }
}

@media screen and (max-width: 786px){
  header {
    .welcome {
      font-size: 5vw;
    }
    .box {
      font-size: 7vw;
      height: 7vw;
    }
  }
}
