#welcome {
  padding: 32px 0 72px;
  font-size: 32px;
  text-align: center;
  background-color: $primary;
  color: $primary_text;
  transition: color 1s;
}

#head-box {
  width: fit-content;
  height: 70px;
  margin: -70px auto 0;
  line-height: 1em;
  font-size: 48px;
  color: $primary_text;
  overflow: hidden;
  transition: opacity 1s ease, height 1s ease 1s, margin 1s ease 1s;

  .domain {
    height: 55px;
    width: fit-content;
    float: left;
  }
}
#roulette {
  position: relative;
  width: 0px;
  height: 55px;
  float: left;
  overflow: hidden;
  transition: width 300ms 0s ease;
}

.item {
  position: absolute;
  width: fit-content;
}

.item-before {
  top: -1.5em;
}

.item-show {
  top: 0;
  transition: top 300ms 0s ease;
}

.item-after {
  top: 1.5em;
  transition: top 300ms 0s ease;
}

#label {
  text-align: center;
  font-size: 42px;
  height: 64px;
  padding-top: 12px;
  font-weight: 700;
  transition: opacity 1s ease, height 1s ease 1s, padding 1s ease 1s;
}

.subdomain {
  display: block;
  color: $primary;
  height: 32px;
  margin: 16px auto 0;
  width: fit-content;
  font-size: 32px;
  cursor: pointer;
  text-decoration: underline;
  transition: opacity 1s ease, height 1s ease 1s, margin 1s ease 1s, color 1s ease 1s, font-size 1s ease 1s;
}

#list-box {
  width: fit-content;
  margin: 0 auto;
  transition: margin 1s ease 1s;
}

#list-domain {
  line-height: 1em;
  font-size: 48px;
  color: $primary_text;
  overflow: hidden;
  float: left;
  width: 0;
  transition: width 1s ease;
}

.fade-out {
  opacity: 0 !important;
  height: 0 !important;
  margin: 0 auto !important;
  padding: 0 !important;
}

.none {
  float: left;
  width: 0;
}

.to-head {
  margin-top: -70px !important;
}

.title {
  height: 48px;
  font-size: 48px;
  color: #fff;
  line-height: 1em;
  margin-top: 0;
  text-decoration: none;
}

.hide {
  height: 0;
}

.left {
  float: left;
}

.show {
  width: 350px !important;
}

.inv-text {
  color: rgba(0,0,0,0) !important;
}
