main {

  padding: 16px;
  font-size: 20pt;

  h1{
    text-align: center;
    font-size: 28pt;
  }

  .subdomain {
    display: block;
    color: $primary;
    font-weight: 700;
    margin: 16px auto 0;
    width: fit-content;
  }

  .modal-wrapper {
    position: fixed;
    width: 100%;
    text-align: center;
  }

  .modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    background: $modal_color;
    top: 0;
    left: 0;
    width: 1vw;
    height: 1vh;
    border: 4px solid #795548;
    overflow: hidden;
    text-align: center;
    line-height: 1em;
    font-size: 20pt;
    z-index: 20;
    animation: modal-close 1s ease 0s forwards;

    .modal-title {
      padding: 24pt 0 20pt 0;
      font-size: 24pt;
      font-weight: 700;
      background-color: $primary;
      color: #fff;
    }

    .modal-description {
      margin-top: 12pt;
      margin-bottom: 22pt;
    }

    .link {
      font-size: 20pt;
    }

    &:target {
      visibility: visible;
      opacity: 1;
      animation: modal-open 1s ease 0s forwards;
    }

    &:target ~ .base {
      display: block;
    }
  }
}

.base {
  position: fixed;
  display: none;
  top: 0;
  legt: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: default;
}

@keyframes modal-open {
  0% {
    height: 1px;
    width: 1px;
    margin: 50vh 50vw;
  }
  50% {
    height: 156pt;
    width: 1px;
    margin: calc( calc(100vh - 156pt) / 2 ) 50vw;
  }
  100% {
    height: 156pt;
    width: 778px;
    margin: calc( calc(100vh - 156pt) / 2 ) calc( calc( 100vw - 778px) / 2 );
  }
}
@keyframes modal-open-mobile {
  0% {
    height: 1px;
    width: 1px;
    margin: 50vh 50vw;
  }
  50% {
    height: 30vw;
    width: 1px;
    margin: calc( calc(100vh - 156pt) / 2 ) 50vw;
  }
  100% {
    height: 40vw;
    width: calc(100% - 8px);
    margin: calc( calc(100vh - 40vw) / 2 ) 0;
  }
}

@media screen and (max-width: 786px){
  main {
    font-size: 2vw;

    h1 {
      font-size: 6vw;
    }
    .modal {
      &:target {
        visibility: visible;
        opacity: 1;
        animation: modal-open-mobile 1s ease 0s forwards;
      }
      .modal-title {
        padding: 5vw 0 5vw;
        font-size: 6vw;
      }
      .modal-description {
        padding-top: 1vw;
        font-size: 5vw;
        margin-bottom: 4vw;
      }
      .link {

      }
    }
  }
}
