#welcome {
  padding: 32px 0 72px;
  font-size: 32px;
  text-align: center;
  background-color: $primary;
  color: $primary_text;
  transition: color 1s;
}

#head-box {
  width: fit-content;
  height: 70px;
  margin: -70px auto 0;
  line-height: 1em;
  font-size: 48px;
  color: $primary_text;
  overflow: hidden;
  transition: opacity 1s ease, height 1s ease, margin 1s ease;

  .domain {
    height: 55px;
    width: fit-content;
    float: left;
  }
}
#roulette {
  position: relative;
  width: 0px;
  height: 55px;
  float: left;
  overflow: hidden;
  transition: width 300ms 0s ease;
}

.item {
  position: absolute;
  width: fit-content;
}

.item-before {
  top: -1.5em;
}

.item-show {
  top: 0;
  transition: top 300ms 0s ease;
}

.item-after {
  top: 1.5em;
  transition: top 300ms 0s ease;
}

#label {
  text-align: center;
  font-size: 42px;
  height: 64px;
  padding-top: 12px;
  font-weight: 700;
  transition: opacity 1s ease, height 1s ease, padding 1s ease;
}

.subdomain {
  display: block;
  color: $primary;
  height: 32px;
  margin: 16px auto 0;
  width: fit-content;
  font-size: 32px;
  line-height: 1em;
  cursor: pointer;
  text-decoration: underline;
  transition: opacity 1s ease, height 1s ease, margin 1s ease, color 1s ease, font-size 1s ease;
}

#list-box {
  width: fit-content;
  margin: 0 auto;
  transition: margin 1s ease;
  height: fit-content;
}

#list-domain {
  line-height: 1em;
  font-size: 48px;
  color: $primary_text;
  overflow: hidden;
  float: left;
  width: 0;
  transition: width 1s ease;
}

.fade-out {
  opacity: 0 !important;
}

.none {
  float: left;
  width: 0;
}

.to-head {
  margin-top: -70px !important;
}

.title {
  height: 48px;
  font-size: 48px;
  color: #fff;
  line-height: 1em;
  margin-top: 0;
  text-decoration: none;
}

.hide {
  margin: 0 auto !important;
  padding: 0 !important;
  height: 0 !important;
}

.left {
  float: left;
}

.show {
  width: 350px !important;
}

.display-none{
  display: none;
}

.inv-text {
  color: rgba(0,0,0,0) !important;
}

main {
  text-align: center;
}

section {
  display: none;
  opacity: 0;
  padding-top: 16px;
  font-size: 24px;
}

.show-section {
  display: block;
  animation: fadein 1s ease 0s 1 forwards;
}

.back-btn {
  margin-top: 24px;
  cursor: pointer;
  &:hover {
  color: #555;
  }
}
@keyframes fadein {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.splash-wrapper {
  position: absolute;
  background-color: $primary;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: splash-wrapper 1s ease 5s forwards;
}

@keyframes splash-wrapper {
  100% {
    background-color: transparent;
  }
}

#splash {
  width: 512px;
  position: absolute;
  top: calc(50% - 128px / 2);
  left: calc(50% - 512px / 2);
  animation: splash 1s ease 4s forwards;
}

@keyframes splash {
  0% {
  }
  100% {
    width: 345px;
    left: calc(50% - 345px / 2);
    top: 45px;
    fill-width: 0;
  }
}

svg {
  fill: transparent;
  stroke: transparent;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
}

svg path{
  stroke: white;
  stroke-width: 3px;
  animation: stroke 3s ease 1s forwards;
}

@keyframes stroke {
  10% {
    fill: transparent;
  }
  50% {
    fill: transparent;
    stroke-dashoffset: 0;
  }
  100% {
    fill: white;
    stroke-dashoffset: 0;
  }
}

svg path:nth-child(1) {
  stroke-dasharray: 63.2844;
  stroke-dashoffset: 63.2844;
}
svg path:nth-child(2) {
  stroke-dasharray: 592.529;
  stroke-dashoffset: 592.529;
}
svg path:nth-child(3) {
  stroke-dasharray: 240.448;
  stroke-dashoffset: 240.448;
}
svg path:nth-child(4) {
  stroke-dasharray: 349.067;
  stroke-dashoffset: 349.067;
}
svg path:nth-child(5) {
  stroke-dasharray: 387.753;
  stroke-dashoffset: 387.753;
}
svg path:nth-child(6) {
  stroke-dasharray: 308.641;
  stroke-dashoffset: 308.641;
}
svg path:nth-child(7) {
  stroke-dasharray: 374.195;
  stroke-dashoffset: 374.195;
}
svg path:nth-child(8) {
  stroke-dasharray: 322.843;
  stroke-dashoffset: 322.843;
}
svg path:nth-child(9) {
  stroke-dasharray: 322.843;
  stroke-dashoffset: 322.843;
}
svg path:nth-child(10) {
  stroke-dasharray: 416.075;
  stroke-dashoffset: 416.075;
}
svg path:nth-child(11) {
  stroke-dasharray: 416.075;
  stroke-dashoffset: 416.075;
}
svg path:nth-child(12) {
  stroke-dasharray: 63.2844;
  stroke-dashoffset: 63.2844;
}
svg path:nth-child(13) {
  stroke-dasharray: 388.926;
  stroke-dashoffset: 388.926;
}
svg path:nth-child(14) {
  stroke-dasharray: 416.075;
  stroke-dashoffset: 416.075;
}
svg path:nth-child(15) {
  stroke-dasharray: 317.806;
  stroke-dashoffset: 317.806;
}
